*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*****************************
   Main Section Start 
   ************************/
.main-container{
    background-color:#2D25A0;
    width: 100%;
    height: 667px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-text,.watch-live-text {
    color:white;
}
h1{
    font-size: 68px;
    font-weight: 700;
    line-height: 90px;
}

.watch-live{
    width: 168px;
    height:44px ;
    margin-top: -20px;
    background-color:#E02C6D;
    color:#fff ;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    cursor: pointer;
}
/****************************
   Main Section End 
**************************/

/****************************
   Grid Section Start 
***************************/
.player-container{
    width: 70%;
    margin:0 auto;
    margin-top:55px;
}
.players{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    
}
.player{
    width: 330px;
    height: 474px;
    padding:15px;
    margin:15px 13px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-banner img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-weight: 700px;
}
.player-info{
    font-weight: 400px;
    color:#6C6C6C;
}
/*********************************
completion of players section 
************************************/


/*************************************
 Starting of highlights section 
 **************************************/
.highlights-container{
    width: 100%;
    height: 667px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-highlights-container{
    width:470px;
    height:309px;
}
.highlights-left,.highlights-right{
    margin:0 33px;
}
h2{
    width:700px;
   font-size: 48px;
   line-height: 60px;
}
.hightlight-info{
    width: 404px;
    margin-top: -25px;
    color: #6C6C6C;
    line-height: 26px;

}

.watch-now{
    margin-top: 24px;
}
/**********************************
 Completion of highlights section
 **********************************/
 .featured-video {
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: -50px;
     margin-bottom: 50px;
 }
 .featured-text{
     text-align: center;
     color:#333;
 }

/***********************
Starting footer section 
 ***********************/
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.social-icon {
    text-decoration: none;
    color: #969BAB;
    margin-right:14px;
    transition: color .5s linear;

}
.social-icon:hover {
    
    color: #68686b;
   

}
.copy-right p{
    text-align: center;
    font-size: 18px;
    font-weight:400px;
    
}
 /***********************
Completion of footer section 
 ***********************/



